telegram:
  token: "YOUR_BOT_TOKEN"
  debug: false
  timeout: 60

server: # do not needed now
  port: ":8080"
  webhook_url: "https://yourdomain.com"

logging:
  level: "info"
  development: false

database:
  host: "gotube_db" # Matches the container_name in docker-compose
  port: 5432
  user: "postgres"
  password: "1234" # Must match POSTGRES_PASSWORD from docker-compose
  dbname: "gotube" # Must match POSTGRES_DB from docker-compose
  sslmode: "disable" # For development, use "require" in production
  timezone: "UTC"
  max_open_conns: 25 # Connection pool settings
  max_idle_conns: 5
  conn_max_lifetime: "5m"
  log_level: "warn" # "silent", "error", "warn", "info"
